body{
    background-color: black;
}
#m{
    height: 60px;
    text-align: center;
    padding: 20px 30px;
    margin-top: 10px;
    border-radius: 10px ;
    background-color: aqua;
}
a{
   border: 2px;

}
.center{
    text-align: center;
    padding: 200px;
    margin: 200px;
    background-color: black;
}
#banner{
    text-align: center;
    color: white;
}
#clock{
    text-align: center;
    padding: 20px 30px;
    margin-top: 20px;
    border-radius: 10px ;
    background-color: orange;
    display: inline-block;

}