.nav{
    height: 60px;
    background-color: azure;
    text-align: center;
    padding-top: 25px;
}
a{
    margin: 25px;
    border: 2px solid black;
}
body{
    background-color: black;
}
#m{
    color: white;
}